<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel= "tests" name="Suite">
	
	
  <test thread-count="5" name="Submit rder test">
	  <classes>
		  
		<class name="FrameWork.SubmitOrderTest"/>  
	  </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="Error Validation Test">
	  <classes>
		  
		<class name="FrameWork.errorValidation"/>  
	  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
